@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face  {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8FFE5;
    font-family: var(--font-padrao);
}

.external::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor5));
    height: 160px;
    text-align: center;
}

header h1 {
    font-family: var(--font-destaque);
    font-size: 3em;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
    color: white;
}

header p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
}

.navbar {
    background-color: #063d1e;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.39);
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    transition-duration: .5s;
}

.navbar a:hover {
    background-color: #2fa866;
    color: #063d1e;
    padding: 5px;
    
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 10px;
}

main h1 {
    font-family: var(--font-android);
    color:#1a5c37;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main h2 {
    font-family: var(--font-android);
    color:#1a5c37;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p {
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
}

main a {
    background-color:#83e1ad;
    text-decoration: none;
    font-weight: bold;
    color:#063d1e;
    padding: 2px 3px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4)
}

main img {
    width: 100%;
}

.img-pq {
    max-width: 350px;
    display: block;
    margin: auto; 
}

#video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.342);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00A0';
    columns: 2;
}

footer {
    background-image: linear-gradient(to top, var(--cor3), var(--cor5));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width:600px){
    aside ul {
        columns: 1;
    }
}


